<div class="container-fluid p-4 bg-white">
  <div class="row">
    <div class="col-md-6">
      <div class="badge-default card-header-font align-middle">Organise</div>
      <div class="col-md-12">
        <div class="dash-image" style="float: left;">
          <img class="dash-image" src="../../../../../assets/organise.jpg">
        </div>
        <div>sd</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="badge-default card-header-font align-middle">Play</div>
      <div class="col-md-12">
        <div style="height: 100px;width: 100px;float: left;">
          image
        </div>
        <div>sd</div>
      </div>

    </div>
  </div>
</div>
