<div class="container">
    <div class="">
      <h1>Forget Password</h1>
      <form (ngSubmit)=" forgetpassword()"  [formGroup]="changePasswordForm" name="form">
        <div class="form-group row">
          <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" formControlName="username"
                 placeholder="Enter your email" type="text"/>
          <div *ngIf="submitted && f.username.errors" style="position: absolute; top: -188px;right: -489px;" class="invalid-feedback">
            <div *ngIf="f.username.errors.required" class="error">Username is required</div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="oldpassword"
                 placeholder="Enter your old password" type="password"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="error">Password is required</div>
            <div *ngIf="f.password.errors.minlength" class="error">Password must be at least 6 characters</div>
          </div>
        </div> -->
        <!-- <div class="form-group row">
          <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password"
                 placeholder="Enter your new password" type="password"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="error">Password is required</div>
            <div *ngIf="f.password.errors.minlength" class="error">Password must be at least 6 characters</div>
          </div>
        </div> -->
        <!-- <div class="form-group row">
          <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="repassword"
                 placeholder="Enter again your new password again" type="password"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="error">Password is required</div>
            <div *ngIf="f.password.errors.minlength" class="error">Password must be at least 6 characters</div>
          </div>
        </div> -->
        <div class="form-group row">
          <button [disabled]="loading" class="btn btn-md landing-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
  