<app-browse-header></app-browse-header>
<section style="background-image: url('assets/images/pubgbg.jpg');margin-bottom: 1%;background-size: cover;background-position: center center;">
  <div style="background: black;background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%);height:300px;padding: 6%;color: white;opacity: .8;">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12">
        <h1 style="font-size: 2.4rem;">{{this.tournamentDetails.tournamentName}}</h1>
        <h5>By GLC ESPORT</h5>
        <h5>{{this.tournamentDetails.startDate | date }} - August 26, 2021</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="width: 100%;height: 100%;background-color: midnightblue;">
          <div class="row">
            <div class="col-8" style="padding: 8%;border-right: 1px dotted white;text-align: center;">
              <h5>Registration open</h5>
              <h6 style="font-size: 12px;opacity: .6;">until Aug 20, 2021, 4:00 AM</h6>
            </div>
            <div class="col-4" style="text-align: center;padding: 6%;">
              <h5>0</h5>
              <hr style="margin: 0px;">
              <h5 style="margin-top: .5rem;">20</h5>
            </div>
            <div class="col-12" >
              <div style="background-color: chocolate;height: 30px;padding-top: 3px;">
                <h6 style="text-align: center;cursor: pointer;" (click)="this.router.navigate(['view-tournament/'+tournamentId+'/register'])"><a>Register Tournament</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<router-outlet></router-outlet>
