
<!-- Header Block -->
<header id="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Karthik fitness</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>


</header>

<!-- Breadcrumb Block -->
<section class="mt-5">
    <div class="bg-light py-5">
        <div class="container">

        </div>
    </div>
</section>

<main>
    <div class="container py-5">
        <div class="row g-5">
            <!-- Contact Information Block -->
            <div class="col-xl-6">
                <div class="row row-cols-md-2 g-4">
                    <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
                        <div class="aos-item__inner">
                            <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                                <div class="d-flex justify-content-start">
                                    <i class="fa-solid fa-envelope h3 pe-2"></i>
                                    <span class="h5">Email</span>
                                </div>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="aos-item__inner">
                            <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                                <div class="d-flex justify-content-start">
                                    <i class="fa-solid fa-phone h3 pe-2"></i>
                                    <span class="h5">Phone</span>
                                </div>
                                <span>098918 96166</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aos-item mt-4" data-aos="fade-up" data-aos-delay="600">
                    <div class="aos-item__inner">
                        <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                            <div class="d-flex justify-content-start">
                                <i class="fa-solid fa-location-pin h3 pe-2"></i>
                                <span class="h5">Office location</span>
                            </div>
                            <span>A-48, Shaheed Arjun Sardana Marg, A Block, Sector 26, Noida, Uttar Pradesh 201301</span>
                        </div>
                    </div>
                </div>
                <div class="aos-item" data-aos="fade-up" data-aos-delay="800">
                    <div class="mt-4 w-100 aos-item__inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.7531959174976!2d77.332801!3d28.577173000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce452adb968ef%3A0xdc0b6634905a9b57!2sKartik%20Fitness%20Zone!5e0!3m2!1sen!2sin!4v1730977670802!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe>
                    </div>
                </div>
            </div>

            <!-- Contact Form Block -->
            <div class="col-xl-6">
                <h2 class="pb-4">Leave a message</h2>
                <div class="row g-4">
                    <div class="col-6 mb-3">
                        <label for="exampleFormControlInput13" class="form-label">Fname</label>
                        <input type="text" class="form-control" id="exampleFormControlInput13" placeholder="John">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="exampleFormControlInput14" class="form-label">Lname</label>
                        <input type="text" class="form-control" id="exampleFormControlInput14" placeholder="Doe">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput15" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput15" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput16" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput16" placeholder="+1234567890">
                </div>
                <div class="mb-3">
                    <label class="form-label">Country</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">USA</option>

                        <option value="2">Non USA</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-dark">Send Message</button>
            </div>
        </div>
    </div>
</main>


<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Phone</span>
                    <p>098918 96166</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Address</span>
                    <p>A-48, Shaheed Arjun Sardana Marg, A Block, Sector 26, Noida, Uttar Pradesh 201301</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Email</span>
                    <!--                    <p>contactcompany@Gutim.com</p>-->
                </div>
            </div>
        </div>
        <div class="subscribe-option set-bg" data-setbg="assets/img/footer-signup.jpg">
            <div class="so-text">
                <h4>Subscribe To Our Mailing List</h4>
                <p>Sign up to receive the latest information </p>
            </div>
            <form action="#" class="subscribe-form">
                <input type="text" placeholder="Enter Your Mail">
                <button type="submit"><i class="fa fa-send"></i></button>
            </form>
        </div>
        <div class="copyright-text">
            <ul>
                <li><a href="#">Term&Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p>&copy;<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved

        </div>
    </div>
</footer>
