<body>
<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <div class="logo">
            <a href="./index.html">
                <img src="assets/assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a href="./index.html">Home</a></li>

                    <li><a (click)="this.router.navigate(['contact'])">Contacts</a></li>
                </ul>
            </nav>
            <a style="color: white" (click)="this.router.navigate(['login'])" class="primary-btn signup-btn">Login</a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero-section hero-bg set-bg" data-setbg="../assets/img/gallery/bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    <span></span>
                    <h1>Aloka Transport</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

</body>

