<div class="row">
    <div class="col-lg-3">
      <div class="flex-shrink-0 p-3 bg-secondary text-light bg-gradient" style="min-height: 521px;">
        <a class="d-flex align-items-center pb-3 mb-3 text-light text-decoration-none ">
          <h6 class="fs-5 text-center fw-semibold">Create Organization</h6>
        </a>

        <div (click)="populateOrganisation(item)" *ngFor="let item of this.organisations">
          {{item.organisationName}}
        </div>

      </div>
    </div>

    <div class="col-lg-9">
        <div class="example p-4" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;height: 521px;overflow: auto;">
          <p-tabView [(activeIndex)]="index">
            <p-tabPanel header="BASICS">
                <form #f="ngForm" (ngSubmit)="f.form.valid && create(f)">

                  <div class="row pt-4">
                    <div class="col-lg-6" >
                      <label class="form-label" style="font-weight: 500;opacity: .6;" >Name</label>
                      <div class="p-inputgroup">
                        <input #organisationName="ngModel"
                               [(ngModel)]="singleOrganisation.organisationName"
                               class="form-control" id="organisationName"
                               maxlength="30" name="organisationName"
                               required="required" type="text">
                      </div>

                    </div>
                      <div class="col-lg-6" >
                        <label class="form-label" style="font-weight: 500;opacity: .6;" >Type</label>
                        <div class="p-inputgroup">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">personal</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">business</label>
                              </div>

                          </div>

                      </div>

                      <div class="col-lg-12 mt-4">
                        <label class="form-label" style="font-weight: 500;opacity: .6;" >Logo Image</label>
                        <div class="p-inputgroup">
                          <p-fileUpload name="demo[]"  [style]="{'width':'700px'}" (onSelect)="onUploadLogo($event)"
                           accept="image/*" >
                            <ng-template pTemplate="content">
                                <ul *ngIf="logoFile.length">
                                    <li *ngFor="let file of logoFile">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                          </p-fileUpload>
                        </div>
                      </div>
                      <div class="col-lg-12 mt-4">
                        <label class="form-label" style="font-weight: 500;opacity: .6;" >Description</label>
                        <div class="p-inputgroup">
                          <p-editor #organisationDesc="ngModel"
                                    [(ngModel)]="singleOrganisation.organisationDesc"
                                    id="organisationDesc"
                                    maxlength="30" name="organisationDesc"
                                    required="required" type="text"></p-editor>
                        </div>
                      </div>
                      <div class="col-lg-12 mt-4">
                        <label class="form-label" style="font-weight: 500;opacity: .6;">Header Image</label>
                        <div class="p-inputgroup">
                          <p-fileUpload name="demo[]" [style]="{'width':'700px'}" (onUpload)="onUpload($event)"
                          accept="image/*" >
                           <ng-template pTemplate="content">
                               <ul *ngIf="uploadedFiles.length">
                                   <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                               </ul>
                           </ng-template>
                         </p-fileUpload>

                        </div>
                      </div>
                  </div>

                  <div class="col-12 mt-4">


                    <button class="btn btn-success w-100" style="font-weight: 500;" type="submit">ADD INFORMATION</button>
                  </div>
                </form>
            </p-tabPanel>
            <p-tabPanel header="CONTACT INFO" >
              <form>

                <div class="row pt-4">
                  <div class="col-lg-12 mb-3" >
                    <div class="p-inputgroup">
                        <input   #discordLink="ngModel"
                               [(ngModel)]="singleOrganisation.discordLink"
                               id="discordLink"
                               maxlength="30" name="discordLink"
                               placeholder="Discord Invite Link" type="text" pInputText/>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-3" >
                      <div class="p-inputgroup">
                        <input   #twitchLink="ngModel"
                               [(ngModel)]="singleOrganisation.twitchLink"
                               id="twitchLink"
                               maxlength="30" name="twitchLink"
                               placeholder="Your Twitch Username" type="text" pInputText/>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-3" >
                    <div class="p-inputgroup">
                      <input #domain="ngModel"
                             [(ngModel)]="singleOrganisation.domain"
                             id="domain"
                             maxlength="30" name="domain"
                             type="text" pInputText />
                    </div>
                  </div>
                  <div class="col-lg-12 mb-3" >
                    <div class="p-inputgroup">
                      <input #website="ngModel"
                             [(ngModel)]="singleOrganisation.website"
                             id="website"
                             maxlength="30" name="website"
                             placeholder="https://your-website-link.com" type="text" pInputText/>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-3" >
                    <div class="p-inputgroup">
                      <input #facebook="ngModel"
                             [(ngModel)]="singleOrganisation.facebook"
                             id="facebook"
                             name="facebook"
                             placeholder="Your Facebook Username" type="text" pInputText/>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-3" >
                    <div class="p-inputgroup">
                      <input #youtube="ngModel"
                             [(ngModel)]="singleOrganisation.youtube"
                             id="youtube"
                             name="youtube"
                             placeholder="Your Youtube Username" type="text" pInputText/>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-3" >
                    <div class="p-inputgroup">
                      <input #twitter="ngModel"
                             [(ngModel)]="singleOrganisation.twitter"
                             id="twitter"
                             name="twitter" placeholder="Your Twitter Username" type="text" pInputText/>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-3" >
                    <div class="p-inputgroup">
                      <input #instagram="ngModel"
                             [(ngModel)]="singleOrganisation.instagram"
                             id="instagram"
                             name="instagram" placeholder="Your Instagram Username" type="text" pInputText/>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-4">
                  <button class="btn btn-success w-100" style="font-weight: 500;" type="submit">Submit</button>
                </div>
              </form>
            </p-tabPanel>
            <p-tabPanel header="STAFF" [disabled]="true">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
            </p-tabPanel>
        </p-tabView>

          </div>

    </div>
</div>
