

<section>
    <div class="container">
        <h2 style="margin-bottom: 3%;margin-top: 4%;">Register Tournament</h2>
        <h4 style="margin-bottom: 1%;">Player Information</h4>
        <div class="row">
            <div class="col-lg-6">
                <label for="nickname">Player nickname</label>
                <input class="form-control" placeholder="Player nickname" type="text" name="" id="">
            </div>
            <div class="col-lg-6">
                <label for="nickname">Email</label>
                <input class="form-control" type="text" [(ngModel)]="email" disabled >
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4 m-4">
                <input type="submit" class="btn btn-danger" style="width: 100%;" value="Register">
            </div>
            <div class="col-lg-4">

            </div>

        </div>

    </div>
</section>

