<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" style="margin-left: 1%;">
    <div class="d-flex w-100 justify-content-between">
      <!-- Logo on the Left -->
      <a class="navbar-brand" routerLink="/">Trucks Travels</a>
      
      <!-- Logout Button on the Right -->
      <div class="ms-auto">
        <div class="nav-item">
          <a class="nav-link active" style="color: white; cursor: pointer;" aria-current="page" (click)="log_out()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
